.cart_body {
    width: calc(100vw);
    height: calc(100vh - 56px);
    position: fixed;
    right: 0;
    bottom: 0;
    top: 56px;
}

.debug_area {
    position: fixed;
    width: 100vw;
    min-height: 0;
    max-height: 100vh;
    z-index: 10;
    overflow: auto;
    overscroll-behavior-y: initial;
}

.cart_background {
    right: 0;
    bottom: 0;
    top: 56px;
    width: calc(100vw - 32px);
    height: calc(100vh - 84px);
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    margin: 16px;
    text-align: start;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior-y: initial;
}

.cc {
    width: 100%;
}

.cart_title {
    width: 100%;
    padding: 0;
    margin: 8px;
    text-align: center;
}

.cart_summarizing {
    width: 360px;
    height: 250px;
    position: absolute;
    right: 32px;
}

.sum {
    padding: 0;
    margin: 0;
    font-size: 16pt;
}

.pay_btn {
    position: absolute;
    right: -64px;
    bottom: -48px;
}

.cart_s {
    display: flex;
}

.cart_left_section {
    width: 50%;
}

.cart_right_section {
    width: 50%;
}

.map {
    width: calc(100% - 32px);
    height: 300px;
    margin: 16px;
    border-radius: 8px;
}

.form {
    width: calc(100% - 32px);
    margin: 16px;
}

.field {
    width: calc(100%);
    margin: 16px;
}

.field_frame {
    margin-top: 16px;
}
