body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  height: calc(100vh - 56px);
  display: flex;
}

.nav-bar {
  width: 100vw;
  height: 56px;
  background-color: rgba(0, 132, 255, 1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.brand-logo {
  height: 48px;
  margin-top: 4px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 132, 255, 0.2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 132, 255, 0.6);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 132, 255, 0.8);
}

.debug_area {
  position: fixed;
  width: 100vw;
  min-height: 0;
  max-height: 100vh;
  z-index: 10;
  overflow: auto;
  overscroll-behavior-y: initial;
}

.body {
  position: absolute;
  top: 56px;
}

.nav-links {
  position: fixed;
  top: 12px;
  left: 16px;
  font-size: 16pt;
  color: #ffffff;
}

.nav-link {
  transition: .2s;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

.nav-link:hover {
  transition: .2s;
  cursor: pointer;
  color: aqua;
  text-decoration: underline;
}
